<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>sistema-imobiliario</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FornecedorServlet</display-name>
    <servlet-name>FornecedorServlet</servlet-name>
    <servlet-class>controller.FornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FornecedorServlet</servlet-name>
    <url-pattern>/FornecedorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CidadeServlet</display-name>
    <servlet-name>CidadeServlet</servlet-name>
    <servlet-class>controller.CidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CidadeServlet</servlet-name>
    <url-pattern>/CidadeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImovelServlet</display-name>
    <servlet-name>ImovelServlet</servlet-name>
    <servlet-class>controller.ImovelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImovelServlet</servlet-name>
    <url-pattern>/ImovelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComentarioServlet</display-name>
    <servlet-name>ComentarioServlet</servlet-name>
    <servlet-class>controller.ComentarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComentarioServlet</servlet-name>
    <url-pattern>/ComentarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CidadeServletA</display-name>
    <servlet-name>CidadeServletA</servlet-name>
    <servlet-class>controller.CidadeServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CidadeServletA</servlet-name>
    <url-pattern>/CidadeServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImovelServletA</display-name>
    <servlet-name>ImovelServletA</servlet-name>
    <servlet-class>controller.ImovelServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImovelServletA</servlet-name>
    <url-pattern>/ImovelServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApartamentoServletA</display-name>
    <servlet-name>ApartamentoServletA</servlet-name>
    <servlet-class>controller.ApartamentoServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApartamentoServletA</servlet-name>
    <url-pattern>/ApartamentoServletA</url-pattern>
  </servlet-mapping>
</web-app>